MONGO_URI=mongodb://127.0.0.1:27017/shoestore
PORT=3000

GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=

VNP_TMNCODE=
VNP_HASHSECRET=
VNP_PAYURL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURNURL=http://localhost:8000/vnpay/return
GROQ_API_KEY=